<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Parallel Test Suite" parallel="tests" thread-count="2">

    <test name="Team Performance Test">
        <classes>
            <class name="recruiter.ProfileTestNG">
                <methods>
                    <include name="TeamPerformance"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Attendance Test">
        <classes>
            <class name="recruiter.ProfileTestNG">
                <methods>
                    <include name="yourAttendance"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
